{deps, [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy"}},
        {gproc, ".*", {git, "https://github.com/esl/gproc"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
        {sync, ".*", {git, "git://github.com/rustyio/sync.git"}},
        {websocket_client, ".*", {git, "https://github.com/jeremyong/websocket_client.git"}}
       ]}.
{erl_opts, [export_all]}.